{% extends "base.html" %}
{% block title %}Homepage{% endblock %}

{% block content %}

<h2>Quick generation</h2>
<form action="gen-srpm" method="get">
<input type="text" value="" name="giturl" />
<button type="submit">Generate SRPM now</button>
</form>

<h2>What is this for</h2>
<p>This is a simple tool to generate SRPM from git repository
and using lookaside cache from Fedora.</p>

<h2>How to use it</h2>
<p>If you have git repository somewhere that follows structure of Fedora
component repository, just use the link and then download generated SRPM.</p>

{% endblock %}

