{% extends "base.html" %}
{% block title %}{{ headline }}{% endblock %}

{% block content %}

		<!-- One -->
			<section id="one" class="wrapper style1">
				<header class="major">
					<h2>{{ headline }}</h2>
					<p>Submit a new one of not found what you search for.</p>
				</header>
				<div class="container">
					<div class="row">
					<ul>
					{% for srpm in srpms %}
					<li>{{ srpm }}</li>
					{% else %}
					<li>No entries found.</li>
					{% endfor %}
					</ul>
					</div>
				</div>
			</section>

{% endblock %}

